{% extends 'layout.html.twig' %}

{% block footer %} <a href="{{ path('home') }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la page d'accueil</a> {% endblock %}