{% extends 'layout.html.twig' %}

{% block footer %} 


{% if app.request.get('_route') == 'category' %}
<a href="{{ path('home') }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la page d'accueil</a> 
{% endif %}



{% if app.request.get('_route') == 'article' %}
<a href="{{ path('category', { 'id':  types|first.codeType }) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la catégorie </a> 
{% endif %}

{% endblock %}