{% extends 'error.html.twig' %}

{% block title %}30 Millions de Pokemons !{% endblock %}

{% block content %}
<div class="row category-child">

    {% for category in categories %}

    <div class="col-lg-2  col-md-4 col-xs-6 thumbnail">
        <a href="{{ path('category', { 'id': category.codeType }) }}">
            <div class="wrapper">
                <div class="caption post-content">
                    <h4>{{ category.type }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}





